/* global css */
body{
    background-color: #F5FCF4;
}

/* fonts */
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* navigation */
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(263deg, rgba(214, 229, 121, 100) 0%, rgba(38, 100, 59, 100) 100%);
}

/* home start */
.home{
    margin-top: 80px;
    height: 100vh;
}

.jv{
    margin: 40px 100px 0 50px;
}

.desc{
    margin-top: 20px;
}

.desc p{
    opacity: .6;
}

.home .jv h1{
    font-weight: 700;
}

.menu{
    max-width: 330px;
    margin: 0 0 0 50px;
}
.menu-1{
    border: 4px solid #A2DE96;
}
.menu-2{
    margin: 50px 0;
    border: 4px solid #A2DE96;
}

.btn{
    background-color: #26643B;
    font-weight: 700;
    border: none;
    width: 48%;
    margin: 2px 0 4px 4px;
}

.btn:hover{
    border: none;
    background-color: #103E20;
}

.menu h2{
    font-size: 20px;
    font-weight: 700;
}

.menu h2, .menu p{
    margin: 0 0 2px 10px;
}

.menu-1 span{
    opacity: .5;
}

/* about us */
#about-us{
    height: 100vh;
    margin: 0 auto;
}

#devs h1,
#about-us h1{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

#about-us h1{
    padding-top: 150px;
}

#about-us .abt-banner img{
    width: 700px;
    border: 4px solid #A2DE96;
    margin: 20px 0 0 0;
}

#about-us .laman{
    width: 60%;
    margin: 0 auto;
}

#about-us .txt-desc{
    margin-left: 35px;
    width: 500px;
    margin-top: 20px;
    text-align: justify;
}

/* contact us */
#devs{
    height: 100vh;
}

.devs{
    width: 350px;
    height: auto;
}

.dev-set-1{
    border: 4px solid #A2DE96;
    margin-left: 50px;
}

.devs img{
    border-bottom: 4px  solid #A2DE96;
}

.devs  h2{
    font-size: 20px;
    margin: 5px 0 0 5px;
}

.devs p{
    font-size: 10px;
    margin: 0 0 0 5px;
}

.devs i{
    margin: 5px 0 10px 5px;
}

.dev-set-2{
    margin: 50px 0 50px 50px;
    border: 4px solid #A2DE96;
}

/* responsive css */
@media screen and (max-width: 1280px) {
    .menu {
        margin: 0 10px;
        max-width: 440px;
    }
    .home{
        height: auto;
    }
    .jv {
        margin: 30px 50px 0 20px;
        width: 1500px;
    }
    .btn{
        width: 48%;
        margin: 0 0 3px 3px;
        font-size: 11px;
    }
    #about-us .laman{
        width: 100%;
    }
    #about-us h1{
        padding-top: 30px;
    }
    #about-us {
        height: auto;
    }
    .dev{
        margin-right: 50px;
    }
}

@media screen and (max-width: 450px) {
    .menu{
        margin: 20px auto;
        width: 100%;
    }
    .home{
        margin-top: 20px;
        height: auto;
    }
    .jv{
        margin: 0 auto;
        width: 100%;
    }
    #about-us .laman{
        margin: 0;
        width: 100%;
    }
    #about-us h1{
        padding: 0;
    }
    #about-us .abt-banner img {
        width: 100%;
        margin: 20px 0 0 0;
    }
    
    #about-us .txt-desc {
        margin: 20px 0 0 0;
        width: 100%;
    }
    .dev-set-2{
        margin: 50px 0 50px 0px;
    }
    .dev-set-1{
        margin-left: 0;
    }
}
